<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>{{restaurantTitle}}</ion-card-title>
            {{macroString}}
        </ion-card-header>
    </ion-card>

    <ion-card>
        <ion-img src="{{restaurantImage}}"></ion-img>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Location</ion-card-subtitle>
            <ion-card-title>{{location}}</ion-card-title>
        </ion-card-header>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Choices</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item *ngFor="let Choice of Choices;">
                    {{Choice.str}}
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
