<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Recipe Name + Macro Icon
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
      Serving Size
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
      Cook Time
      </ion-label>
    </ion-item>
  
    <ion-item>
      <ion-label text-wrap>
      Ingredients.
      </ion-label>
    </ion-item>  

    <ion-item>
      <ion-label text-wrap>
      Steps.
      </ion-label>
    </ion-item> 
  </ion-list>
</ion-content>
