<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{recipeTitle}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Serving Size</ion-card-subtitle>
      <ion-card-title>{{servingSize}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Prep Time</ion-card-subtitle>
      <ion-card-title>{{prepTime}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ingredients</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let ingredient of ingredients;">
          {{ingredient.name}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

 <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Steps</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let step of steps;">
          {{step.str}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

 <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Macros</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          {{macroString}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
