<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            About
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-img src="../../assets/img/bronco.png"></ion-img>
        <ion-card-header>
            <ion-card-title>About Bronco Fuel</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>v1.0</p>
            <ion-card-title>Developers</ion-card-title>
            <ion-card-subtitle>Boise State CS Senior Design</ion-card-subtitle>
            <p>Brenden Bixler</p>
            <p>Austin Foy</p>
            <p>Noah Rudin</p>
            <p>Tony Von Wolfe</p>
        </ion-card-content>
    </ion-card>
</ion-content>
