<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bookmarked Recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list *ngFor="let recipe of recipes">
      <ion-item-sliding>
        <ion-item (click)="gotoDetail(recipe.absIdx)" detail>
          {{recipe.title}}
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="removeBookmarkClick(recipe)">Remove</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-card>
</ion-content>
