ion-item {
    --background: #3880ff;
    --color: #fff;
}
ion-button {
    --background: #062f77;
}

a {
    color: #fff;
}

ion-content {
    --overflow: hidden;
}

.login_form {
    --background: #0033a0;
}

ion-input {
    --background: #0033a0;
}

ion-item {
    --background: #0033a0;
}
