<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Food Items
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-searchbar animated debounce="500" placeholder="Search Here" name="search" (ionInput)="getFoodItems($event)"></ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let item of foodList;">
            {{item[0]}}
            <ion-label item-right text-right>{{item[1]}}</ion-label>
        </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
