<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Recipes and Food
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
          <ion-button fill = "outline" expand="block" lines = "none" (click)=foodListClick() detail>
            Browse a la Carte Food Items
          </ion-button>
    <ion-searchbar animated debounce="500" placeholder="Search Here" name= "search"(ionInput)="getRecipes($event)" ></ion-searchbar>
    <ion-list>
      <ion-card>
        <ion-item *ngFor="let recipe of recipeList" (click)=listItemClick(i) detail>
        {{recipe}}
        </ion-item>
      </ion-card>
    </ion-list>

</ion-content>


