<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Browse Recipes and Food
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar animated debounce="500" placeholder="Search Here" ></ion-searchbar>

    <ion-card>
        <ion-item>
          <ion-icon name="list-box" slot="start"></ion-icon>
          <ion-label>Browse Recipes</ion-label>
          <ion-button (click)="recipeButtonClick()" fill="outline" slot="end">Go</ion-button>
        </ion-item>
        <ion-card-content>
          Find a Meal on our Nutritionist-Approved Database!
        </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-item>
            <ion-icon name="pizza" slot="start"></ion-icon>
            <ion-label>Browse Food/Snack Items</ion-label>
            <ion-button (click)="foodButtonClick()" fill="outline" slot="end">Go</ion-button>
          </ion-item>
          <ion-card-content>
            Find Individual Food Items a la Carte!
          </ion-card-content>
        </ion-card>
</ion-content>


