ion-item{
    --background: #3880ff;
    --color: #fff;
}
ion-button{
    --background: #062f77;
}
a{
    color: #fff;
}

ion-item {
  --background: #0033A0;
}

ion-input {
  --background: #0033A0;
}
