<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Account and Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
          Account
      <div class="item-note" slot="end">
          <ion-icon name="contact"></ion-icon>
      </div>
    </ion-item>
    <ion-item (click)="authService.logout()">
          Sign Out
      <div class="item-note" slot="end">
      <ion-icon name="undo"></ion-icon>
      </div>
    </ion-item>
        <ion-item (click)="buttonClick()">
          About Bronco Nutrition
      <div class="item-note" slot="end">
      <ion-icon name="information-circle"></ion-icon>
      </div>
    </ion-item>
  </ion-list>
  
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
