<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Account and Settings
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row size="6">
            <ion-col>
                <ion-button
                    class="homepage_button"
                    expand="block"
                    justify-content-center
                    fill="solid"
                    (click)="accountButtonClick()"
                >
                    <ion-icon slot="start" name="contact"></ion-icon
                    >Account</ion-button
                >
                <ion-button
                    class="homepage_button"
                    expand="block"
                    justify-content-center
                    fill="solid"
                    (click)="signoutButtonClick()"
                    ><!--ngOnInit()-->
                    <ion-icon slot="start" name="log-out"></ion-icon>Sign
                    Out</ion-button
                >
                <ion-button
                    class="homepage_button"
                    expand="block"
                    justify-content-center
                    fill="solid"
                    (click)="aboutButtonClick()"
                    ><!--ngOnInit()-->
                    <ion-icon slot="start" name="information-circle"></ion-icon
                    >About Bronco Fuel</ion-button
                >
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
